.mm-menu
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #fff;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: auto;
	padding:15px 0px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	/*background:url(../images/index.png) no-repeat center center;*/
	display: block;
	width: 40px;
	height: 61px;
	position: absolute;
	top: 13px;
	left: 10px;
}
.content
{
	padding: 150px 50px 50px 50px;
}